<!-- cinema.component.html -->
<div>
    <h2>Select a City:</h2>
    <div>
      <button *ngFor="let city of cities" (click)="onCitySelect(city)" [class.selected]="city === selectedCity">{{ city }}</button>
    </div>
  </div>
  
  <div>
    <h2>Select a Language:</h2>
    <div>
      <button *ngFor="let language of languages" (click)="onLanguageSelect(language)" [class.selected]="language === selectedLanguage">{{ language }}</button>
    </div>
  </div>
  <div class="movie-container">
    <div *ngFor="let movie of cinemas" class="movie-card">
      <div class="movie-details">
        <h3>{{ movie.CinemaName }}</h3>
        <p>{{ movie.CinemaGenre }}</p>
        <p>City: {{ movie.CityName }}</p>
        <p>Language: {{ movie.Language }}</p>
      </div>
      <button class="BookTickets"><i class="fa fa-ticket"></i> Book Tickets</button>
    </div>
  </div>
  