/* Add this to center-align your movie container */
.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust as needed */
  margin: 0 auto;
  max-width: 1200px; /* Set a maximum width */
}

/* Adjust the width and styles for each movie card */
.movie-card {
  width: calc(33.33% - 20px); /* Three movies per row with some margin */
  border: 1px solid #985353;
  padding: 10px;
  margin: 10px;
  background-color: #e0b1c1;
  color: #150808;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Set the image width to cover 60% of the movie card */
.movie-card img {
  width: 60%; /* Set the image width to 60% of the card width */
  max-height: 200px; /* Set a maximum height */
  object-fit: cover; /* Make the image cover the available space */
}

.movie-details {
  flex: 1;
  text-align: left; /* Adjust as needed */
}

/* Rest of your existing styles */


footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}